p,h4 {
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}
/*  dash, bul 설정 */
ul{   
    padding:0;
} 
.bul_list,
.dash_list{
    margin:0;
    padding:5px 0 0 0;
    list-style: none;
}
.bul_list li,
.dash_list li{
  position: relative;
  padding: 1px 0 2px 16px;
  font-size:16px;
}
.bul_list >li:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #262626;
}
.dash_list >li:before{
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;  
    width: 6px;
    height: 1.5px;
    background: #262626;
}

/* 폰트 컬러 설정 */
.fc_red {color: red;}
.fc_purple {color:blueviolet;}
.fc_blue { color: blue;}
.fc_orange {color: darkorange;}
.fc_green { color: green;}

/* 폰트 굵기 설정 */
.fw_bold { font-weight: 700;}